# Base de données Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nwqqxrmobxtwzcnaveqi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im53cXF4cm1vYnh0d3pjbmF2ZXFpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MzUyNzEyMCwiZXhwIjoyMDU5MTAzMTIwfQ.bcun_9xNydFliYw4U1ltdsfas4znG0sJwVrRXudNZAs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im53cXF4cm1vYnh0d3pjbmF2ZXFpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MzUyNzEyMCwiZXhwIjoyMDU5MTAzMTIwfQ.bcun_9xNydFliYw4U1ltdsfas4znG0sJwVrRXudNZAs

# Connection string PostgreSQL pour Prisma et API routes
DATABASE_URL=postgres://postgres:$antaJUZ3544@db.nwqqxrmobxtwzcnaveqi.supabase.co:5432/postgres

# Clerk pour authentification sociale
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YnJpZWYtbGlnZXItOTkuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_cYQnewNRyrHgr59E26NoQWZnqsMgglAS34BEYZifoz

# JWT pour authentification par email
JWT_SECRET=ta_clef_secrete_pour_token_avec_n8n_nodemailer_pdf-generator

# Mailgun pour les emails
MAILGUN_API_KEY=ta_clef_api_mailgun
MAILGUN_DOMAIN=ton_domaine_mailgun

# Email admin notifications
ADMIN_EMAIL=admin@tondomaine.com

# Next.js port
PORT=3000
